<%- include('../inc/head') %> 
<%- include('../inc/header') %> 
<link rel="stylesheet" href="/css/gbook/login.css">
<div class="wrapper">
	<%- include('./title') %> 
	
</div>
<%- include('../inc/footer') %>
<script src="/js/gbook/login.js"></script> 
<%- include('../inc/foot') %> 