<tr>
	<td><%= v.id %></td>
	<td><%= v.writer %> </td>
	<td class="text-left"><%= v.content %> </td>
	<td>
		<% if(v.savename) { %> 
			<img src="<%= v.savename %> " alt="첨부이미지" onclick="onImgModal(this);">
		<% } %>
	</td>
	<td><%= v.createdAt %> </td>
	<% if(user) { %>
		<td>
			<% if(user.id === v.uid) { %>
			<button onclick="onUpdate('<%= v.id %>');" class="btn btn-sm btn-success">수정</button>
			<button onclick="onDelete('<%= v.id %>');" class="btn btn-sm btn-danger">삭제</button>
			<% } %>
		</td>
	<% } %>
</tr>
<script src="/js/gbook/list.js"></script>